body{
  width: 50vw;
}

.card-header{
  font-size: 30px;
  padding-top: 30px;
  margin-left: 100px;
}

.container {
  
  height: 100vh;
  width: 100vw;
}


.Form {
  width: 100vw;
  padding: 25px;
  border-radius: 20px;
}

.Form-Item{
  display: flex;
  flex-direction: row;
  align-items: center;
}

input{
  text-align: center;
  margin-right: 20px;
}

.Form-Item-Label-Required{
  color: red;
}

.Form-Item-Label{
  font-weight: bold;
  margin-right: 100px;
  margin-top: 20px;
  margin-bottom: 10px;
  display: block;
  
}

.Form-Item-example{
  margin-right:150px ;
  color: #888888;
  display: inline;
}

label{
  margin-right: 20px;
}

textarea {
  width: 300px;
  height: 200px;
}

.logout-button:hover {
  background-color: #111111;
  color: white;
  cursor: pointer;
}

.Form-button,
a.Form-button {
  color: #fff;
  background-color: #111111;
  padding: 10px 30px;
  margin: 20px 0;
  margin-left: 100px;
  
}

.Form-button:hover,
a.Form-button:hover {
  color: #fff;
  background: #111111;
}

table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

tr {
  height: 50px;
}

 svg.w-5.h-5 {
  width: 30px;
  height: 30px;
 }